MONGODB_URI=''

DATABASE_NAME='trello'
APP_HOST='localhost'
APP_PORT=8017

AUTHOR = 'minhuy'

WEBSITE_DOMAIN_DEVELOPMENT = 'http://localhost:5173'
WEBSITE_DOMAIN_PRODUCTION = ''

SMTP_SERVER = ''
SMTP_PORT = 587
SMTP_USERNAME = ''
SMTP_PASSWORD = ''

ACCESS_TOKEN_PRIVATE_KEY = ''
ACCESS_TOKEN_EXPIRES = '1h'

REFRESH_TOKEN_PRIVATE_KEY = ''
REFRESH_TOKEN_EXPIRES = '14d'